body{
    background-color: #2c2c2c;
}

#pergunta{
    text-align: center;
	color: #665ca5;
}

.opcao {
    margin: 10% 0;
    background-color: #665ca5;
    cursor: pointer;
	padding: 10%;
}

p{
    color: white;
    user-select: none;
}

#next {
    display: none;
    cursor: pointer;
}

#retry {
    cursor: pointer;
}

#img1{
	display: none;
}

#bloco {
	margin: 25vh 30vw;
	border: 10px solid #c8d869;
	background-color: white;
	border-radius: 20%;
}