body{
    background-color: #2c2c2c;
}

#pergunta{
    text-align: center;
	color: #665ca5;
}

.opcao {
    margin: 10% 0;
    background-color: #665ca5;
    cursor: pointer;
    padding: 10%;
    border-radius: 5%;
}

p{
    color: white;
    user-select: none;
}

#next {
    display: none;
    cursor: pointer;
    background-color: green;
}

#retry {
    cursor: pointer;
    background-color: red;
}

#img1{
    display: none;
    max-width: 500px;
    margin: auto;
}

#bloco {
	margin: 25vh;
	border: 10px solid #c8d869;
	background-color: white;
	border-radius: 20%;
}